.Wrapper {
    flex: 1;
    padding-left: 15px;
}
.Content {
    display: flex;
    justify-content: space-between;
}
.Name {
    width: calc(50% - 15px);
    & > input {
        width: 100%;
    }
}
.Mail {
    width: calc(50% - 15px);
    & > input {
        width: 100%;
    }
}
.Input {
    background-color: #2b2a2a;
    border: 1px solid #2b2a2a;
    border-radius: 24px;
    color: #fff;
    margin-bottom: 30px;
    outline: none;
    padding: 1rem 2rem;
    transition: all 0.3s ease;
}
.Error {
    bottom: 13px;
    color: red;
    font-size: 12px;
    left: 8px;
    position: absolute;
}
.Relative {
    position: relative;
}
.Field {
    width: 100%;
}
.Message {
    min-height: 200px;
}
.None {
    display: none;
}
.Submit {
    &:hover {
        .Slide {
            left: 0%;
        }
        .SlideName {
            transform: translateX(-90px);
        }
    }
    display: inline-block;
    margin-right: 150px;
    & button {
        width: 210px;
    }
}

.Slide {
    background-color: var(--active-color);
    border-radius: 35px;
    display: flex;
    height: 100%;
    left: -75%;
    top: 0;
    flex-direction: row-reverse;
    padding-right: 17px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    transition: all 0.25s ease-in-out;
    width: 100%;
    z-index: 1;
}
.Icon {
    position: absolute;
    right: 22px;
    font-size: 2rem;
}
.SlideName {
    color: white;
    text-align: end;
    position: absolute;
    display: inline-block;
    top: 15px;
    width: 150px;
    transform: translateX(-55px);
    z-index: 2;
    transition: all 0.25s ease-in-out;
    font-size: 1.8rem;
}
@media (max-width: 1120px) {
    .Wrapper {
        margin-bottom: 96px;
        padding: 0;
    }
}
@media (max-width: 768px) {
    .Content {
        display: block;
    }
    .Mail,
    .Name {
        width: 100%;
    }
}
